.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-box {
  background: white;
  width: 300px;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px #333;
  text-align: center;
}

.close-btn {
  padding: 6px 15px;
  background: red;
  color: white;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
}
